# ==============================================================================
# this file serves as a template. to run the application, copy the contents of
# this file into a new file named .env in the root directory and replace the
# placeholder values. the .env file must be kept private and not committed to
# version control.
# ==============================================================================

# change to 'production' when using in prod
NODE_ENV=development

# change to your Mongo DB connection URI
MONGO_URI=your_mongo_URI

# the PORT your backend will be configured to run on
PORT=8000

# your own JWT secret string, this is used to sign and verify JSON web tokens.
JWT_SECRET=yourSuperSecretJwtSecret

# The base URL of the backend (used for self referencing if needed)
DOMAIN=http://localhost:8000

# Link for your hosted production frontend.
# Used by CORS configuration when NODE_ENV is 'production'.
# FRONTEND_LINK=https://www.<homepage of your deployed frontend>.com

# link for your local development frontend (e.g., React/Next/Svelte/Astro dev server).
# used by CORS configuration when NODE_ENV is 'development'.
FRONTEND_LINK_DEV=http://localhost:1337